.bar {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.group {
  margin-right: 5px;
  display: flex;
  flex-flow: row nowrap;
  padding: .2rem 0 .1rem 0;
  box-shadow: 2px 2px 0 -1px silver;
}

.button {
  background: #fff;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #777;
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: #000;
  background: #f6f6f6;
}

.button.active {
  color: #000;
}

.button:disabled {
  color: #ccc;
}
