.bar {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-left: -1rem;
  padding: .5rem 0;
  background: whiteSmoke;
}

.group {
  margin-right: 5px;
  display: flex;
  flex-flow: row nowrap;
}

.group::before {
  content: "•";
  margin: 0 .5rem;
  color: #ccc;
}

.button {
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #777;
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: #000;
  background: #f6f6f6;
}

.button.active {
  color: #000;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
